/*
* @Author: Marte
* @Date:   2017-10-07 18:12:27
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-07 23:36:21
*/
/* 导航主题 */
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/* 右侧内容区 */
.content.with-nav{
    float: left;
    width: 950px;
}