/*
* @Author: Marte
* @Date:   2017-10-05 01:25:47
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-05 01:42:46
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}